<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="SensioTV">
    <meta name="description" content="An awesome SensioLabs University project to order some cool movies.">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=10"><![endif]-->

    <meta property="og:image" content="https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png">
    <meta property="og:title" content="SensioTV from SensioLabs University - Home">
    <meta property="og:description" content="An awesome SensioLabs University project to order some cool movies.">

    <title>SensioTV - Home</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/sensiotv-theme.min.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/sensiotv-favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/sensiotv-icon.png">
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/sensiotv-icon.png">
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark justify-content-center">
        <a class="navbar-brand mr-0" href="/"><img src="/assets/images/sensiotv-icon.png" alt="SensioTV Brand Icon"> <span class="color-green">TV+</span></a>
        <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mx-auto text-center">
    <li class="nav-item">
        <a class="nav-link" href="/" title="Back to the homepage">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie/search" title="Search">Search Movie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie/latest" title="Search">Latest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact" title="You need some help ? Contact us !">Contact us</a>
    </li>
</ul>
<ul class="navbar-nav text-center">
                <li class="nav-item active"><a class="nav-link" href="/register" title="Register or log in"><i class="fas fa-plus-square"></i></a></li>
        <li class="nav-item active"><a class="nav-link" href="/login" title="Register or log in"><i class="fas fa-user"></i></a></li>
    
</ul>


    </nav>
</header>

<main id="main">
        

        <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <h1 class="display-4 font-weight-bold">Latest Movies.</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-3 text-center text-md-left pb-3">
                    <p class="lead font-weight-bold">Latest Movies By Genre</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by genre">Action</a></li>
                        <li><a href="#" title="Choose your movie by genre">Adventure</a></li>
                        <li><a href="#" title="Choose your movie by genre">Animation</a></li>
                        <li><a href="#" title="Choose your movie by genre">Biography</a></li>
                        <li><a href="#" title="Choose your movie by genre">Comedy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Crime</a></li>
                        <li><a href="#" title="Choose your movie by genre">Drama</a></li>
                        <li><a href="#" title="Choose your movie by genre">Family</a></li>
                        <li><a href="#" title="Choose your movie by genre">Fantasy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Film-Noir</a></li>
                        <li><a href="#" title="Choose your movie by genre">History</a></li>
                        <li><a href="#" title="Choose your movie by genre">Horror</a></li>
                        <li><a href="#" title="Choose your movie by genre">Music</a></li>
                        <li><a href="#" title="Choose your movie by genre">Musical</a></li>
                        <li><a href="#" title="Choose your movie by genre">Mystery</a></li>
                        <li><a href="#" title="Choose your movie by genre">Romance</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sci-Fi</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sport</a></li>
                        <li><a href="#" title="Choose your movie by genre">Thriller</a></li>
                        <li><a href="#" title="Choose your movie by genre">War</a></li>
                        <li><a href="#" title="Choose your movie by genre">Western</a></li>
                    </ul>
                </div>
                <div class="col-md-9 table-responsive img-rounded bg-light p-4">
                    <!-- Latest movies -->
                                        <div class="row">
                        <div class="col-lg-3">
                            <a href="/movie/1" title="The Matrix Reloaded" class="album-link">
                                <img height="209" width="140" src="https://m.media-amazon.com/images/M/MV5BODE0MzZhZTgtYzkwYi00YmI5LThlZWYtOWRmNWE5ODk0NzMxXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <a href="/movie/1" title="Click to see the movie details"><h6 class="m-1 font-weight-bold">The Matrix Reloaded</h6></a>
                            <small class="text-success font-weight-bold m-1">2003-05-15</small>
                            <p class="ml-1 mr-1 mt-3 mb-2"><span class="text-muted">Freedom fighters Neo, Trinity and Morpheus continue to lead the revolt against the Machine Army, unleashing their arsenal of extraordinary skills and weaponry against the systematic forces of repression and exploitation.</span></p>
                        </div>
                    </div>
                    <hr>
                                        <div class="row">
                        <div class="col-lg-3">
                            <a href="/movie/2" title="Harry Potter and the Sorcerer&#039;s Stone" class="album-link">
                                <img height="209" width="140" src="https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <a href="/movie/2" title="Click to see the movie details"><h6 class="m-1 font-weight-bold">Harry Potter and the Sorcerer&#039;s Stone</h6></a>
                            <small class="text-success font-weight-bold m-1">2001-11-16</small>
                            <p class="ml-1 mr-1 mt-3 mb-2"><span class="text-muted">An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.</span></p>
                        </div>
                    </div>
                    <hr>
                                        <div class="row">
                        <div class="col-lg-3">
                            <a href="/movie/3" title="Hello Mini" class="album-link">
                                <img height="209" width="140" src="https://m.media-amazon.com/images/M/MV5BNTFiOTkyNjktZGM1Zi00MDhhLThhYjAtODUwNDVhYzJjOTEwXkEyXkFqcGdeQXVyMTE0Nzg1NjQ2._V1_SX300.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <a href="/movie/3" title="Click to see the movie details"><h6 class="m-1 font-weight-bold">Hello Mini</h6></a>
                            <small class="text-success font-weight-bold m-1">2019-10-01</small>
                            <p class="ml-1 mr-1 mt-3 mb-2"><span class="text-muted">A thriller drama series, revolving around Rivanah Bannerjee, an independent girl, living alone in Mumbai. She has the perfect life: doting parents, a loving boyfriend, and a great job. But things are seldom what they seem, as her lif</span></p>
                        </div>
                    </div>
                    <hr>
                                        <div class="row">
                        <div class="col-lg-3">
                            <a href="/movie/4" title="Fight Club" class="album-link">
                                <img height="209" width="140" src="https://m.media-amazon.com/images/M/MV5BMmEzNTkxYjQtZTc0MC00YTVjLTg5ZTEtZWMwOWVlYzY0NWIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <a href="/movie/4" title="Click to see the movie details"><h6 class="m-1 font-weight-bold">Fight Club</h6></a>
                            <small class="text-success font-weight-bold m-1">1999-10-15</small>
                            <p class="ml-1 mr-1 mt-3 mb-2"><span class="text-muted">An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.</span></p>
                        </div>
                    </div>
                    <hr>
                                        <div class="row">
                        <div class="col-lg-3">
                            <a href="/movie/5" title="Iron Sky" class="album-link">
                                <img height="209" width="140" src="https://m.media-amazon.com/images/M/MV5BMTM2MDg5MzgxNF5BMl5BanBnXkFtZTcwODUzNjMxOA@@._V1_SX300.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <a href="/movie/5" title="Click to see the movie details"><h6 class="m-1 font-weight-bold">Iron Sky</h6></a>
                            <small class="text-success font-weight-bold m-1">2012-04-04</small>
                            <p class="ml-1 mr-1 mt-3 mb-2"><span class="text-muted">The Nazis set up a secret base on the dark side of the moon in 1945 where they hide out and plan to return to power in 2018.</span></p>
                        </div>
                    </div>
                    <hr>
                                        <div class="row">
                        <div class="col-lg-3">
                            <a href="/movie/6" title="Harry Potter and the Deathly Hallows: Part 2" class="album-link">
                                <img height="209" width="140" src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <a href="/movie/6" title="Click to see the movie details"><h6 class="m-1 font-weight-bold">Harry Potter and the Deathly Hallows: Part 2</h6></a>
                            <small class="text-success font-weight-bold m-1">2011-07-15</small>
                            <p class="ml-1 mr-1 mt-3 mb-2"><span class="text-muted">Harry, Ron, and Hermione search for Voldemort&#039;s remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts.</span></p>
                        </div>
                    </div>
                    <hr>
                                    </div>
            </div>
        </div>
    </section>

</main>

<footer class="container py-5 mt-5 mb-5">
    <div class="row">
        <div class="col-sm-5">
            <h5 class="font-weight-bold">Services</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/" title="Back to the homepage">Home</a></li>
                <li><a class="text-muted" href="/movie/top-rated" title="Get all top rated movies">Top Rated</a></li>
                <li><a class="text-muted" href="/movie/genres" title="Find your movie by genre">Browse By Genre</a></li>
                <li><a class="text-muted" href="/movie/latest" title="Get all new movies">Latest</a></li>
                <li><a class="text-muted" href="/contact" title="You need some help ?">Help Center</a></li>
                <li><a class="text-muted" href="/login" title="Register or log in">Log In</a></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <h5 class="font-weight-bold">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <a href="#main" class="font-weight-bold text-dark">Back to top <i class="far fa-arrow-alt-circle-up"></i></a>
        </div>
        <div class="col-12">
            <p><strong>SensioTV+</strong> by <strong>Sensio<span class="color-green">Labs</span></strong> University<br><small class="d-block mb-3 text-muted">&copy; 2017-2020</small></p>
        </div>
    </div>
</footer>

<!-- Vendor JS -->
    <script src="https://kit.fontawesome.com/8d75946265.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    
</body>
</html>
