<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="SensioTV">
    <meta name="description" content="An awesome SensioLabs University project to order some cool movies.">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=10"><![endif]-->

    <meta property="og:image" content="https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png">
    <meta property="og:title" content="SensioTV from SensioLabs University - Home">
    <meta property="og:description" content="An awesome SensioLabs University project to order some cool movies.">

    <title>SensioTV - Home</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/sensiotv-theme.min.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/sensiotv-favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/sensiotv-icon.png">
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/sensiotv-icon.png">
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark justify-content-center">
        <a class="navbar-brand mr-0" href="/"><img src="/assets/images/sensiotv-icon.png" alt="SensioTV Brand Icon"> <span class="color-green">TV+</span></a>
        <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mx-auto text-center">
    <li class="nav-item">
        <a class="nav-link" href="/" title="Back to the homepage">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie/search" title="Search">Search Movie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie/latest" title="Search">Latest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact" title="You need some help ? Contact us !">Contact us</a>
    </li>
</ul>
<ul class="navbar-nav text-center">
                <li class="nav-item active"><a class="nav-link" href="/register" title="Register or log in"><i class="fas fa-plus-square"></i></a></li>
        <li class="nav-item active"><a class="nav-link" href="/login" title="Register or log in"><i class="fas fa-user"></i></a></li>
    
</ul>


    </nav>
</header>

<main id="main">
        

        <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <form method="GET" action="">
                        <input style="width: 100%; height: 50px; font-size: 25px;" name="keyword" type="text" value="Harry Potter"/>
                    </form>
                    <h1 class="display-4 font-weight-bold">Searching movie "Harry Potter".</h1>
                </div>
            </div>
            <div class="row mb-4 text-center text-md-left">
                <div class="col-lg-3 pb-3">
                    <p class="lead font-weight-bold">Top Rated Movies By Genre</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by genre">Action</a></li>
                        <li><a href="#" title="Choose your movie by genre">Adventure</a></li>
                        <li><a href="#" title="Choose your movie by genre">Animation</a></li>
                        <li><a href="#" title="Choose your movie by genre">Biography</a></li>
                        <li><a href="#" title="Choose your movie by genre">Comedy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Crime</a></li>
                        <li><a href="#" title="Choose your movie by genre">Drama</a></li>
                        <li><a href="#" title="Choose your movie by genre">Family</a></li>
                        <li><a href="#" title="Choose your movie by genre">Fantasy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Film-Noir</a></li>
                        <li><a href="#" title="Choose your movie by genre">History</a></li>
                        <li><a href="#" title="Choose your movie by genre">Horror</a></li>
                        <li><a href="#" title="Choose your movie by genre">Music</a></li>
                        <li><a href="#" title="Choose your movie by genre">Musical</a></li>
                        <li><a href="#" title="Choose your movie by genre">Mystery</a></li>
                        <li><a href="#" title="Choose your movie by genre">Romance</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sci-Fi</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sport</a></li>
                        <li><a href="#" title="Choose your movie by genre">Thriller</a></li>
                        <li><a href="#" title="Choose your movie by genre">War</a></li>
                        <li><a href="#" title="Choose your movie by genre">Western</a></li>
                    </ul>
                    <p class="lead font-weight-bold">Top Rated Movies By Year</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by year">2020-2029</a></li>
                        <li><a href="#" title="Choose your movie by year">2010-2019</a></li>
                        <li><a href="#" title="Choose your movie by year">2000-2009</a></li>
                        <li><a href="#" title="Choose your movie by year">1990-1999</a></li>
                        <li><a href="#" title="Choose your movie by year">1980-1989</a></li>
                        <li><a href="#" title="Choose your movie by year">1970-1979</a></li>
                        <li><a href="#" title="Choose your movie by year">1960-1969</a></li>
                        <li><a href="#" title="Choose your movie by year">1950-1959</a></li>
                        <li><a href="#" title="Choose your movie by year">1940-1949</a></li>
                        <li><a href="#" title="Choose your movie by year">1930-1939</a></li>
                        <li><a href="#" title="Choose your movie by year">1920-1929</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 table-responsive img-rounded bg-light p-3">
                    <table id="top-rated-movie-table" class="table table-hover table-striped tablesorter tablesorter-bootstrap">
                        <thead>
                        <tr>
                            <th class="sr-only"></th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Deathly Hallows: Part 2"></td>
        <td>Harry Potter and the Deathly Hallows: Part 2 <span class="text-muted">(2011)</td>
        <td><a href="/movie/tt1201607/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Sorcerer&#039;s Stone"></td>
        <td>Harry Potter and the Sorcerer&#039;s Stone <span class="text-muted">(2001)</td>
        <td><a href="/movie/tt0241527/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Chamber of Secrets"></td>
        <td>Harry Potter and the Chamber of Secrets <span class="text-muted">(2002)</td>
        <td><a href="/movie/tt0295297/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTY4NTIwODg0N15BMl5BanBnXkFtZTcwOTc0MjEzMw@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Prisoner of Azkaban"></td>
        <td>Harry Potter and the Prisoner of Azkaban <span class="text-muted">(2004)</td>
        <td><a href="/movie/tt0304141/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTI1NDMyMjExOF5BMl5BanBnXkFtZTcwOTc4MjQzMQ@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Goblet of Fire"></td>
        <td>Harry Potter and the Goblet of Fire <span class="text-muted">(2005)</td>
        <td><a href="/movie/tt0330373/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTM0NTczMTUzOV5BMl5BanBnXkFtZTYwMzIxNTg3._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Order of the Phoenix"></td>
        <td>Harry Potter and the Order of the Phoenix <span class="text-muted">(2007)</td>
        <td><a href="/movie/tt0373889/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Deathly Hallows: Part 1"></td>
        <td>Harry Potter and the Deathly Hallows: Part 1 <span class="text-muted">(2010)</td>
        <td><a href="/movie/tt0926084/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Half-Blood Prince"></td>
        <td>Harry Potter and the Half-Blood Prince <span class="text-muted">(2009)</td>
        <td><a href="/movie/tt0417741/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNDM0YzMyNGUtMTU1Yy00OTE2LWE5NzYtZDZhMTBmN2RkNjg3XkEyXkFqcGdeQXVyMzU5NjU1MDA@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Forbidden Journey"></td>
        <td>Harry Potter and the Forbidden Journey <span class="text-muted">(2010)</td>
        <td><a href="/movie/tt1756545/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNTM4NzQ2NjA4NV5BMl5BanBnXkFtZTgwODAwMjE4MDE@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Chamber of Secrets"></td>
        <td>Harry Potter and the Chamber of Secrets <span class="text-muted">(2002)</td>
        <td><a href="/movie/tt0304140/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                        
                        </tbody>
                    </table>
                    <nav class="m-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="container py-5 mt-5 mb-5">
    <div class="row">
        <div class="col-sm-5">
            <h5 class="font-weight-bold">Services</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/" title="Back to the homepage">Home</a></li>
                <li><a class="text-muted" href="/movie/top-rated" title="Get all top rated movies">Top Rated</a></li>
                <li><a class="text-muted" href="/movie/genres" title="Find your movie by genre">Browse By Genre</a></li>
                <li><a class="text-muted" href="/movie/latest" title="Get all new movies">Latest</a></li>
                <li><a class="text-muted" href="/contact" title="You need some help ?">Help Center</a></li>
                <li><a class="text-muted" href="/login" title="Register or log in">Log In</a></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <h5 class="font-weight-bold">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <a href="#main" class="font-weight-bold text-dark">Back to top <i class="far fa-arrow-alt-circle-up"></i></a>
        </div>
        <div class="col-12">
            <p><strong>SensioTV+</strong> by <strong>Sensio<span class="color-green">Labs</span></strong> University<br><small class="d-block mb-3 text-muted">&copy; 2017-2020</small></p>
        </div>
    </div>
</footer>

<!-- Vendor JS -->
    <script src="https://kit.fontawesome.com/8d75946265.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    
</body>
</html>
